[user]
	name = Matthew T. Smith
	email = smithmts+github@gmail.com
[core]
	editor = nvim
	autocrlf = false
	safecrlf = false
[init]
	defaultBranch = main
[alias]
	last = log -1 HEAD
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
